*{
  padding: 0;
  margin: 0;
  border: 0;
}
*,*:before,*:after{
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav.footer.header,aside{display: block;}

html.body{
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1 h2 h3 h4 h5 h6{font-size: inherit; font-weight: 400;}

/* Обнуляющие свойста весь пакет */
body  {
  background-color: #333;
}
header{
  background-color: #fff;
  overflow: hidden;
}
.header__row {
  display: flex;
  justify-content: space-between;
  padding: 1.74rem 0rem 1.74rem 0rem;
} 
.contanier{
  max-width: 1164px;
  margin: 0 auto;
  text-align: center;
}
.header__logo {
  align-self: center;
}
.nav{
  align-self: center;
}
.menu {
  display: flex;
  font-size: 0.875rem;
  font-family: 'Ubuntu', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 130%; 
  letter-spacing: 0.0175rem;
}
.menu li a {
  color: #000;
  transition: all 0.5s ease 0s;
}
.menu li a:hover{
  color: #F83718;
}
.menu li {
  padding: 0px 1.56rem 0px 1.56rem;
}
.menu li:first-child {
  padding: 0px 1.56rem 0px 0px;
}
.menu li:last-child {
  padding: 0px 0px 0px 1.56rem;
}
.burger {
}
.header__language {
  display: flex;
  background-color: rgb(240, 240, 240);
  padding: 4px;
  border-radius: 0.75rem;
}
.language__ru {
  font-size: 0.875rem;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  padding: 0.89rem;
  padding: 0.88894rem 0.875rem 0.88888rem 0.88894rem;
  border-radius: 0.75rem;
  /* for js */
  background-color: #fff;
  color: #000;
}
.language__en {
  font-size: 0.875rem;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  padding: 0.89rem;
  padding: 0.88894rem 0.875rem 0.88888rem 0.88894rem;
  color: #666;
}

.language__en:hover{
  color: #F83718;
  transition: all 0.5s ease 0s;
}
.language__ru:hover{
  color: #F83718;
  transition: all 0.5s ease 0s;
}