*{
  padding: 0;
  margin: 0;
  border: 0;
}
*,*:before,*:after{
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav.footer.header,aside{display: block;}

html.body{
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1 h2 h3 h4 h5 h6{font-size: inherit; font-weight: 400;}

/* Обнуляющие свойста весь пакет */
body  {
  font-family: 'Ubuntu', sans-serif;
}
header{
  background-color: #fff;
  overflow: hidden;
}
.header__row {
  display: flex;
  justify-content: space-between;
  padding: 1.74rem 0rem 1.74rem 0rem;
} 
.contanier{
  max-width: 1164px;
  margin: 0 auto;
  text-align: center;
}
.header__logo {
  align-self: center;
}
.nav{
  align-self: center;
}
.menu {
  display: flex;
  font-size: 0.875rem;
  font-family: 'Ubuntu', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 130%; 
  letter-spacing: 0.0175rem;
}
.menu li a {
  color: #000;
  transition: all 0.5s ease 0s;
}
.menu li a:hover{
  color: #F83718;
}
.menu li {
  padding: 0px 1.56rem 0px 1.56rem;
}
.menu li:first-child {
  padding: 0px 1.56rem 0px 0px;
}
.menu li:last-child {
  padding: 0px 0px 0px 1.56rem;
}
.burger {
}
.header__language {
  display: flex;
  background-color: rgb(240, 240, 240);
  padding: 4px;
  border-radius: 0.75rem;
}
.language__ru {
  font-size: 0.875rem;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  padding: 0.89rem;
  padding: 0.88894rem 0.875rem 0.88888rem 0.88894rem;
  border-radius: 0.75rem;
  /* for js */
  background-color: #fff;
  color: #000;
}
.language__en {
  font-size: 0.875rem;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  padding: 0.89rem;
  padding: 0.88894rem 0.875rem 0.88888rem 0.88894rem;
  color: #666;
}

.language__en:hover{
  color: #F83718;
  transition: all 0.5s ease 0s;
}
.language__ru:hover{
  color: #F83718;
  transition: all 0.5s ease 0s;
}
/* wrapper */
.wrapper {
  height: 100%; 
  margin: 0 auto;
  overflow: hidden;
}
/* wrapper */
/* section solution */
.solutions {
  padding: 6.86rem 0px 5.44rem 0px;
  background-color: #F83718;
}
.solutions__items__row {
  display: flex;
}
.solutions__desc {
  text-align: left;
}
.solution__title {
  font-size: 3.125rem;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 120%;
  color: #fff; 
  margin: 0px 0px 1.88rem 0px;
  padding: 0px 3.125rem 0px 0px;
}
.solution__subtitle {
  color: #fff;
  font-size: 1rem;
  font-weight: 300;
  line-height: 150%;
  padding: 0px 9.375rem 0px 0px;
}
.solution__desc__top {
  margin: 0px 0px 1.5rem 0px;
}
/* Планшет */
@media (max-width: 62em){
  /* 990px */
  .solutions {
    padding: 5.86rem 0px 4.44rem 0px;
    background-color: #F83718;
  }
  .solutions__items__row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .solution__title{
      padding: 0;
  }
  .solution__subtitle{
    padding: 0px 0.500rem 0px 0px;
  }
  .solutions__desc{
    text-align: center;
  }
}
/* Мобильный телефон */
@media (max-width: 47.937em){
  .solutions__items__row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .solutions{
    padding: 2em 0.7rem 1.5rem 0.7em;
    background-color: #F83718;
  }
  .solution__title {
    font-size: 2rem;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 120%;
    color: #fff; 
    margin: 0px 0px 1.88rem 0px;
  }
}
.solution__desc__bottom {
}
.solutions__image {
  max-width: 34.6555rem;
} 
.solutions__image img {
  width: 100%;
  padding: 0;
}
@media (max-width: 47.937em){
  .solution__desc__bottom{
    margin: 0px 0px 0.625rem 0px;
  }
}
/* section solution */

/* section users */
.users {
  padding: 6.25rem 0px 3.69rem 0px;
}
.userstitle {
  font-size: 2.5rem;
  text-align: center;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
  margin: 0px 0px 1.87rem 0px;
}
.red__title {
  color: #F83718;
  font-size: 2.5rem;
}
.users__desc {
  text-align: center;
  font-size: 1rem;
  font-weight: 300;
  line-height: 150%;
  margin: 0px 0px 4.38rem 0px;
}
.users__icon__row {
  display: flex;
  justify-content: space-around;
}
.users__icon__item {
  text-align: center;
}
.users__icon {
  margin: 0px 0px 1.37rem 0px;
}
.users__number {
  line-height: 120%;
}
.users__icon-title {
  font-size: 1.625rem;
  font-weight: 300;
  line-height: 150%;
}
/* Адаптатив Планшет  */
 @media (max-width: 62em){
  .users{
      padding: 4.25rem 0px 1.69rem 0px;
      text-align: center;
  }
  .userstitle{
    font-size: 2em;
  }
  .red__title{
    font-size: 2rem;
  }
  .users__desc {
    text-align: center;
    font-size: 1rem;
    font-weight: 300;
    line-height: 150%;
    margin: 0px 0px 2.6em 0px;
  }
  .users__icon__row {
    display: flex;
    justify-content: space-around;
  }
  .users__icon-title {
    font-size: 1.3rem;
    font-weight: 300;
    line-height: 150%;
  }
}
/* Адаптатив мобильный телефон */
@media (max-width: 47.937em){ 
  .users{
    padding: 3.25rem 15px 1.20rem 15px;
    text-align: center;
  }
  .userstitle{
    font-size: 1.5em;
  }
  .users__icon__row {
    display: flex;
    flex-direction: column;
  }
  .users__icon__item{
    margin: 0px 0px 30px 0px;
  }
}
